#!/usr/bin/env ruby
# This function should return a hash containing two key value pairs:
#  'username' => The Distinguished Name of the account used to bind
#                with LDAP.
#  'pass'			=> The password of the account used to bind with LDAP.
def return_ldap_config
	ldap_config = Hash.new

	ldap_config['username'] = 'uid=serviceacct,ou=people,dc=pdx,dc=edu'

	ldap_config['pass'] = 'acct_password'

	return ldap_config
end
