#!/usr/bin/env ruby
# This function should return a hash containing the following key value pairs:
#  :username => The Distinguished Name of the account used to bind
#               with LDAP.
#  :pass     => The password of the account used to bind with LDAP.
#  :server   => The hostname (or IP address) of the LDAP server.
#  :port     => The port on which to communicate with the LDAP server.
#  :basedn   => The Base DN under which to execute LDAP queries.
def return_ldap_config
	ldap_config = Hash.new

	ldap_config[:username] = 'uid=serviceacct,ou=people,dc=pdx,dc=edu'
	ldap_config[:pass]     = 'acct_password'
	ldap_config[:server]   = 'ldap.oit.pdx.edu'
	ldap_config[:port]     = 636
	ldap_config[:basedn]   = 'dc=pdx,dc=edu'

	return ldap_config
end
