#!/usr/bin/env ruby
# This function should return a Hash containing two key/value pairs:
# 	'username' => The RT account name used to query RT.
# 	'pass'		 => The password for the account used to auth with RT.
def return_rt_config
	rt_config = Hash.new

	rt_config['username'] = 'rt_user'

	rt_config['pass'] = 'rt_password'

	return rt_config
end
