#!/usr/bin/env ruby
# This function should return Hash of key value pairs of people who can be
# sent a signal, and the phone email address (for email text messages) to
# send to. See below article to translate a phone number to a email address
# to send a text message to:
#		http://en.wikipedia.org/wiki/List_of_SMS_gateways
def return_signal_config
	signal_config = Hash.new

	signal_config['user'] = 'phonenumber@SMSgateway.com'

	return signal_config
end
